.scores {
  flex-basis: 80%;
  padding: 3rem 2rem;
  overflow-y: scroll;
  font-weight: var(--fw-700);
  color: var(--primary-text);
  scrollbar-color: var(--primary-text) transparent;
  scrollbar-width: thin;
}

.scores::-webkit-scrollbar {
  background: none;
  width: 0.35rem;
}

.scores::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--primary-text);
}

.grid-display.true {
  display: grid;
  grid-template-columns: 1.25fr repeat(4, 1fr) 1.25fr;
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
}

.grid-display.false {
  display: grid;
  grid-template-columns: 1.25fr repeat(4, 1fr);
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
}

.grid-display.active {
  font-size: var(--fs-600);
  background: var(--primary-text);
  color: var(--btn-bg-secondary);
}

.grid-display > * {
  border-right: 0.3rem solid var(--btn-bg-border);
}

.grid-display:last-child {
  border-bottom: none;
}

.grid-display-item {
  padding: 1rem;
  margin-bottom:0rem;
}

.grid-display-item.display {
  display: block;
}

.grid-display-item.hidden {
  display: none;
}

.titles {
  grid-template-columns: 1.25fr repeat(4, 1fr) 1.25fr;
}

.row-total {
  background: #e5b299;
  color: var(--btn-bg-secondary);
}

@media screen and (max-width: 424px){
    .scores {
  flex-basis: 80%;
  padding: 1.5rem 0.1rem;
  overflow-y: scroll;
  font-weight: 100;
  color: var(--primary-text);
  scrollbar-color: var(--primary-text) transparent;
  scrollbar-width: thin;
}
.grid-display.active {
  font-size: 0.75rem;
  background: var(--primary-text);
  color: var(--btn-bg-secondary);
}
.grid-display.false {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
}
.grid-display.true {
  display: grid;
  grid-template-columns: 1.8fr repeat(4, 1fr) 1.8fr;
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
  font-size: 0.55rem;
}


}


@media screen and (min-width:425px) and (max-width: 540px){
    .scores {
  flex-basis: 80%;
  padding: 1.5rem 0.1rem;
  overflow-y: scroll;
  font-weight: 100;
  color: var(--primary-text);
  scrollbar-color: var(--primary-text) transparent;
  scrollbar-width: thin;
}
.grid-display.active {
  font-size: 0.75rem;
  background: var(--primary-text);
  color: var(--btn-bg-secondary);
}
.grid-display.false {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
}
.grid-display.true {
  display: grid;
  grid-template-columns: 1.8fr repeat(4, 1fr) 1.8fr;
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
  font-size: 0.65rem;
}


}

@media screen and (min-width: 541px) and (max-width: 700px){
    .scores {
  flex-basis: 80%;
  padding: 1.5rem 0.1rem;
  overflow-y: scroll;
  font-weight: 100;
  color: var(--primary-text);
  scrollbar-color: var(--primary-text) transparent;
  scrollbar-width: thin;
}
.grid-display.active {
  font-size: 0.75rem;
  background: var(--primary-text);
  color: var(--btn-bg-secondary);
}
.grid-display.false {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
}
.grid-display.true {
  display: grid;
  grid-template-columns: 1.8fr repeat(4, 1fr) 1.8fr;
  border-bottom: 0.25rem solid var(--btn-bg-border);
  text-align: center;
  font-size: 0.75rem;
}
  
}