.nav-tabs .nav-link {
  border: none !important;
  font-size: x-large;
  width: 100% !important;
  padding-left: 135px !important;
  padding-right: 135px !important;
  color: #f8ae1b !important;
  background-color: #98501d !important;
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .nav-tabs .nav-link {
    border: none !important;
    font-size: x-large;
    width: 100% !important;
    padding-left: 75px !important;
    padding-right: 75px !important;
    color: #f8ae1b !important;
    background-color: #98501d !important;
  }
}

@media screen and (max-width: 400px) {
  .nav-tabs .nav-link {
    border: none !important;
    font-size: x-large;
    width: 100% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    color: #f8ae1b !important;
    background-color: #98501d !important;
  }
}

.gen-btn .btn {
  font-weight: 500;
  color: var(--btn-bg-secondary);
}

.gen-btn .btn:hover {
  color: var(--btn-bg-secondary);
  background: #fdc740;
}
