.nav-tabs .nav-link
{
    border: none!important;
    font-size: x-large;
    width: 100%!important;
    padding-left: 80px;
    padding-right: 80px;
    color: #F8AE1B!important;
    background-color: #98501D!important;

}

@media screen and (max-width: 600px) {
    .nav-tabs .nav-link
{
    border: none!important;
    font-size: x-large;
    width: 100%!important;
    padding-left: 50px;
    padding-right: 50px;
    color: #F8AE1B!important;
    background-color: #98501D!important;

}
}

@media screen and (max-width: 320px) {
    .nav-tabs .nav-link
{
    border: none!important;
    font-size: x-large;
    width: 100%!important;
    padding-left: 52px;
    padding-right: 52px;
    color: #F8AE1B!important;
    background-color: #98501D!important;

}
}

.nav-tabs .nav-link.active {
    color: #98501D!important;
    background-color: #F8AE1B!important;
    border: none!important;
    font-size: x-large;
    border-top-left-radius: none!important;
    border-top-right-radius: none!important;
}

.nav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-image: url('../../images/card.png');
}